{% extends 'views/index.html' %}
{% load staticfiles %}
{% load static %}
{% block content %}
<div ng-controller = "ctrlIDE" ng-class="{'split':editor.splitMode}" ng-init="init()">
<div class="nav">
    <button ng-click= "showAdmin()">Proyecto</button>
    <button ng-click = "saveCode()">Guardar</button>
    <button>Compilar</button>
    <button>Enviar y Cerrar</button>
    <select ng-model="selectedTheme" ng-options="theme as theme.theme for theme in themes track by theme.id" ng-change="actTheme()">
      <option value="">---Please select Theme---</option>
    </select>
    <button ng-click ="split()">Modo Visual</button>
    <button class = "letraGrande" ng-click = "letraG()">A</button>
    <button class = "letraNormal" ng-click = "letraN()">A</button>
    <button class = "letraChica" ng-click = "letraC()">A</button>
    <input  type="text" ng-show = "showToken" ng-disabled="true" ng-value="tokenInformation">
    <button>Salir</button>
</div>
<ul class="tabs">
      <li ng-repeat="x in files track by $index"  ng-click="changeTab($index+1)"><a href="#">[[ x ]]</a></li>
    </ul>
<div class="editor">
      <div ng-repeat="x in files track by $index" ng-show="tab == ($index +1)">
         <div  ui-ace="{
       require: ['ace/ext/language_tools'],
      advanced: {
      enableSnippets: editor.snippets,
      enableBasicAutocompletion: editor.bAuto,
      enableLiveAutocompletion: editor.lAuto,
      },
      rendererOptions: {
      minLines:editor.minL,
      maxLines: editor.maxL,
      fontSize: editor.fontS,
      fadeFoldWidgets: editor.foldW,
      },
      highlightActiveLine: editor.hihlightAL,
      behavioursEnabled: editor.behaveE,
      useWrapMode : editor.useWrapMode,
      showGutter: editor.gutter,
      theme:editor.theme,
      mode: editor.mode,
      onLoad: aceLoaded,
      onChange: aceChanged
    }" ng-model='codigo'></div>
      </div>
</div>

<div  ng-show = "shwAdmin">
<div class="proyecto"></div>
<div class="ventana">
    <div class="nombre">
      <h1>Proyecto</h1>
    </div>
    <table>
      <tr>
        <td>Nuevo Archivo   </tr>
        <td><input type="text" ng-model = "newFileName" placeholder="Nombre del archivo"></td>
        <td> <img  ng-click="nuevoArchivo(newFileName)" title="Agregar Nuevo Archivo" src="{% static "views/img/agrega.png" %}"></td>
      </tr>
       <tr>
        <td>Archivo  </td>
      </tr>
      <tr ng-repeat= "x in files track by $index">
        <td><input type="text" ng-model="files[$index]" ng-disabled="blockedit"></td>
        <td><img ng-click=" editarNombre(files[$index]);blockedit = false; puedeeditar = false" title="Editar Archivo" src="{% static "views/img/edit.png" %}" ng-show = "puedeeditar"></td>
        <td><img  ng-click="guardarNombre(files[$index]); blockedit = true; puedeeditar = true" title="Salvar Cambios" src="{% static "views/img/save.png" %}" ng-hide = "puedeeditar"></td>
        <td><img  ng-click="eliminarArchivo([[ x ]])" title="Eliminar Archivo" src="{% static "views/img/menos.png" %}"></td>   
      </tr>
    </table>
    <div class = "botonesVentana">
    <button class="v-e" ng-click="SalirAdminProyecto()">Salir</button>
    </div>
    </div>
</div> 
</div> 
</div>
{% endblock content %}
{% block extra_javascript %}
{% endblock extra_javascript %}
