 {% load staticfiles %}
 <html>
 <head>
  <title>Python IDE</title>
    <meta charset="utf-8">
    <script src="{% static "lib/bower_components/angular/angular.min.js"%}"></script>
    <script src="http://cdn.jquerytools.org/1.2.7/full/jquery.tools.min.js" charset="utf-8"></script>
    <script src="{% static "lib/angular-route.js" %}"></script>
    <script src="{% static "lib/bower_components/ace-builds/src-noconflict/ace.js" %}"></script>
    <script src="{% static "lib/bower_components/ace-builds/src-noconflict/ext-language_tools.js"%}"></script>
    <script src="{% static "lib/bower_components/ace-builds/src-noconflict/snippets/django.js"%}"></script>
    <script src="{% static "lib/bower_components/angular-ui-ace/ui-ace.min.js" %}"></script>
     <script src="{% static "lib/bower_components/ng-onload/release/ng-onload.min.js" %}"></script>
    <!--<script src="{% static "lib/dat.gui/build/dat.gui.min.js" %}"></script> -->
    <script src="{% static "js/app.js" %}"></script>
    <script src="{% static "js/contIDE.js" %}"></script>
     <script src="{% static "js/contGlobal.js" %}"></script>
    <script src="{% static "js/directives.js" %}"></script>
    <script src="{% static "js/services.js" %}"></script>
    <script src="{% static "lib/sweetalert.min.js"%}"></script>
    <script src= "{% static "djng/js/django-angular.min.js" %}" ></script>
    <link rel="stylesheet" type="text/css" href="{% static "lib/sweetalert.css" %}">
    <link rel="stylesheet" type="text/css"  href="{% static "views/css/IDE.css" %}">
    <link rel="shortcut icon" href="{% static "views/img/favicon.ico" %}" type="image/x-icon">
    <link rel="icon" href="{% static "views/img/favicon.ico" %}" type="image/x-icon">
 </head>
 <body ng-app="IDE">
        <div ng-controller="ctrlGlobal" ng-init="init()">
        {% block content %}{% endblock content %}
        {% block extra_javascript %}{% endblock extra_javascript %}
        </div>
 </body>
<script type="text/javascript">
var static_url = '{% static "" %}';
</script>
 </html>
 